<!-- A page were the user can see if there marker has been accepted -->
<!DOCTYPE html>
<html>
    <% include ./partials/head %>
    <% include ./partials/navbar %>

    <h2 class="">User Dashboard</h2>
    <p class="lead mb-3">Welcome <%= user.username %></p>

    <h3>Markers Submited</h3>
    <% points.forEach((event)=>{ %>

    <span>Name: </span><%= event.name %>
    <br>
    <span>Status: </span><%= event.approved %>

    <br><br>

    <% }) %>

    <a href="/logout" class="btn btn-secondary">Logout</a>
    <% include ./partials/footer %>
</html>
