<!DOCTYPE html>
<html> 
    <% include ./partials/head %>

    <body>

        <% include ./partials/navbar %>

        <div class="home-page-container">

            <div class="landing-page-fold">
                <p class="landing-page-fold__main-text"> See the best locations around the world</p>

                <div class="landing-page-fold__main-image"><img src="/home-background/background-gradient.png"></div>

                <div class="landing-page-fold__main-image2"><img src="/home-background/person.png"></div>

                <div class="landing-page-fold__main-image3"><img src="/home-background/world.png"></div>


            </div>

            <div class="home-maps">
                <div class="home-maps__title">Maps</div>

                <div class="home-maps-flex-container">
                    <div class="flex-container__box">
                        <p>World Landmarks</p>
                        <a href="worldLandmarks"><button onclick="blackpink" class="map-link__button button-primary">Go</button></a>

                    </div>
                    <div class="flex-container__box">
                        <p>Top Beaches</p>
                        <a href="worldLandmarks"><button onclick="" class="map-link__button button-primary">Go</button></a>
                    </div>
                    <div class="flex-container__box">
                        <p>Other</p>
                        <a href="worldLandmarks"><button onclick="" class="map-link__button button-primary">Go</button></a>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html>