<!DOCTYPE html>
<html> 
    <% include ./partials/head %>

    <body>

        <% include ./partials/navbar %>

        <div class="home-page-container">


            <div class="homepageHeader"> 
                <div class="homepageHeader__imageContainer">
                    <div class="homepageHeader__img1">
                    </div>
                    <div class="homepageHeader__img2">
                    </div>
                    <div class="homepageHeader__img3">
                    </div>
                    <div class="homepageHeader__img4">
                    </div>
                    <div class="homepageHeader__img5">
                    </div>
                    <div class="homepageHeader__img6">
                    </div>
                    <div class="homepageHeader__img7">
                    </div>
                    <div class="homepageHeader__img8">
                    </div>
                    <div class="homepageHeader__img9">
                    </div>
                </div>

                <div class="homepageHeader__textContainer">
                    <div class="homepageHeader__text">
                        <p>See famous photo locations around the world</p>
                        <a href="worldLandmarks"><button class="homepageHeader__button">Go to map</button></a>
                    </div>
                </div>
            </div>


            <div class="home-maps">
                <div class="home-maps__title">Maps</div>

                <div class="home-maps-flex-container">
                    <div class="flex-container__box">
                        <p>World Landmarks</p>
                        <a href="worldLandmarks"><button class="map-link__button button-primary">Go</button></a>
                    </div>

                </div>

            </div>

        </div>
    </body>
</html>