<head>

    <link rel="icon" href="/public/icons/InYourArea%2048%20fav%20no%20background.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kalam|Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link  rel="stylesheet"
          href="https://bootswatch.com/4/journal/bootstrap.min.css"
          />

    <link rel="stylesheet" href="/stylesheetOverwrite.css"/>
</head>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class=""></i><img src="/icons/InYourArea%2048%20fav.png"></h1>
            <p>Create an account or login</p>
            <a href="/user/register" class="button-blue-ow btn-block">Register</a>
            <a href="/user/login" class="btn btn-secondary btn-block mb-2">Login</a>
            <a href="/" class="btn btn-secondary btn-block">Home</a>
                    
        </div>
    </div>
</div>

<% include ./partials/footer %>