<!-- A page were the user can see if there marker has been accepted -->
<!DOCTYPE html>
<html>
    <body>
        <head>
            <% include ./partials/head %>
        </head>
        <% include ./partials/navbar %>

        <main class="userPage">

            <h2 class="userPage__title">User Dashboard</h2>
            <p class="userPage__user">Welcome <%= user.username %></p>
            <h3 class="userPage__heading">Markers Submited</h3>

            <table id="markerTable">
                <tr>
                    <th>Name</th>
                    <th>User</th>                    
                    <th>Status</th>
                </tr>
                <% points.forEach((event)=>{ %>
                <tr>
                    <td><%= event.name %></td>
                    <td><%= event.username %></td>
                    <td><span class="postStatus"><%= event.approved %></span></td>
                </tr>
                <% }) %>
            </table>

            <% include ./partials/footer %>
        </main>
    </body>

    <script>
        // change "true" to "Approved"
        var approvedPosts = document.getElementsByClassName("postStatus");
        var arrayAP = [...approvedPosts];

        for (var i = 0; i < arrayAP.length; i++) {
            if(arrayAP[i].innerHTML == "true" || arrayAP[i].innerHTML == "Approved") {
                document.getElementsByClassName("postStatus")[i].innerHTML = "Approved";
                document.getElementsByClassName("postStatus")[i].classList.add("postStatus--approved");
            } else if (arrayAP[i].innerHTML == "Rejected") {
                document.getElementsByClassName("postStatus")[i].classList.add("postStatus--rejected");
            }
        }
    </script>

</html>
