<!-- A page were the user can see if there marker has been accepted -->
<!DOCTYPE html>
<html>
    <body>
        <% include ./partials/head %>
        <% include ./partials/navbar %>

        <h2 class="">User Dashboard</h2>
        <p class="lead mb-3">Welcome <%= user.username %></p>

        <h3>Markers Submited</h3>

        <table id="markerTable">
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
            <% points.forEach((event)=>{ %>
            <tr>
                <td><%= event.name %></td>
                <td><span class="postStatus"><%= event.approved %></span></td>
            </tr>
            <% }) %>
        </table>

        <% include ./partials/footer %>
    </body>

    <script>
        // change "true" to "Approved"
        var approvedPosts = document.getElementsByClassName("postStatus");
        var arrayAP = [...approvedPosts];

        for (var i = 0; i < arrayAP.length; i++) {
            if(arrayAP[i].innerHTML == "true" || arrayAP[i].innerHTML == "Approved") {
                document.getElementsByClassName("postStatus")[i].innerHTML = "Approved";
                document.getElementsByClassName("postStatus")[i].classList.add("postStatus--approved");
            } else if (arrayAP[i].innerHTML == "Rejected") {
                document.getElementsByClassName("postStatus")[i].classList.add("postStatus--rejected");
            }
        }
    </script>

</html>
