<h1 class="mt-4">Public Dashboard</h1>

<p class="lead mb-3">This is username <%= user.username %> </p>
<p class="lead mb-3">This is the email <%= user.email %> </p>

<a href="/logout" class="btn btn-secondary">Logout</a>
