

.button-colour-ow {
    background-color: #1396fc;
    border-color: #1396fc;
    height: 40px;
}

.button-colour-ow:hover {
    border-color: #0079d6;
    background-color: #0079d6;
}

.text-colour-ow {
    color: #1396fc;
}

.text-colour-ow:hover {
    color: #1396fc;
}
