/* buttons in welcome page / signup / login */
a:hover {
    color: white;
    text-decoration: none;
}

.button-blue-ow {
    background-color: #1396fc;
    border-color: #1396fc;
    height: 40px;
    color: white;
    line-height: 40px;
    border-radius: 5px;
}

.button-blue-ow:hover {
    border-color: #0079d6;
    background-color: #0079d6;
}

.text-colour-ow {
    color: #1396fc;
}

.text-colour-ow:hover {
    color: #1396fc;
}
